
.Background{
    background-color: aquamarine;
}

.custom-link{
    color: bisque;
    text-decoration: none;
    padding: auto;
}

.custom-nav-item{
    padding-top: 20px;
    padding-left: 5px;
}

.image-slide{
    height: 735px;
}